/*
 * Room 31 Studio | Made with love by Pablo Herrero | pabloherrero.me
 * Copyright 2020 Pablo Herrero
 */

/* Fonts */

 @font-face {
  font-family: 'roboto';
  src: url('../css/fonts/Roboto-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoBold';
  src: url('../css/fonts/RobotoCondensed-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoSlab';
  src: url('../css/fonts/RobotoSlab-ExtraBold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto';
  color: white;
}


h1 {
  font-family: 'robotoBold';
  color: #000000;
}

/* Navbar */

.navbar {
  background-color: #fff;
  padding: 10px 10px;
  transition: 0.3s;
}

/* Burger */
.hamburger{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.navbar button:focus{
  outline:0;
}
/* /Burger */

#mainNav .navbar-brand {
  color: #000000;
  font-family: 'robotoSlab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 21px;
  width: 125px;
  margin-top: -4px !important;
  padding-left: 15px;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #4d4d4d;
}

li a:focus{
  background-color: #000000;
}

#mainNav .navbar-nav {
  width: 100%;
  height: 100vh;
  text-align: end;
  background-color: #000000;
}

#mainNav a{
  font-size: 54px;
  letter-spacing: 0.0125em;
  padding: 0px 5px 0px 0px;
  color: #ffffff;
  font-family: 'robotoBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav a:hover {
  color: #4d4d4d;
  background: transparent;
}

#mainNav a:active {
  color: #fff;
}

#socialGroup {
  padding: 0px 20px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

#social {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

#social .fab{
  font-size: 25px;
  letter-spacing: 0em;
  color: #fff;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

#social .fab:hover {
  color: #4d4d4d;
  background: transparent;
}

#social .fab:active {
  color: #fff;
}

#social a:focus, a:hover {
  text-decoration: none;
  color: #4d4d4d;
}

@media (min-width: 768px) {
  #mainNav a{
    font-size: 54px !important;
  }
}

@media (min-width: 992px) {
  #mainNav a{
    font-size: 60px !important;
  }
}

/* Body */
body {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  letter-spacing: 0.0625em;
}

#generalPadding {
  padding-top: 0.5rem;
}

/* Dividers */
.divider-white {
  text-align: center !important;
  width: 100% !important;
  background-color: #000000;
  height: 1px;
  margin-top: -6.25rem;
  margin-bottom: 3rem;
  z-index: -1 !important;
}

@media (min-width: 992px) {
  .divider-white {
    margin-top: -3.3rem;
    margin-bottom: 4rem;
  }
}

/* Header */
.masthead {
  position: relative;
  width: 100%;
  height: auto !important;
  min-height: 100vh !important;
  padding: 0rem 0;
  background-color: #fff;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.masthead img{
 height: 420px !important;
 margin-top: 120px;
 margin-bottom: 10px;
}

.masthead button:focus{
  outline:0;
}

.masthead .btn{
  margin-top: 40px;
 }

 .masthead h2{
  font-family: "roboto";
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.0825em;
 }

 @media (min-width: 576px) {
  .masthead img{
    height: 440px !important;
    margin-top: 95px;
   }
}

@media (min-width: 992px) {
  .masthead img{
    height: 470px !important;
    margin-top: 95px;
   }
}

 /* Arrow */
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

#arrow{
  transform: rotate(180deg);
}

.arrow{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 70px 0px 0px 0px;
  margin-top: 100px !important;
}

@media (max-width: 768px){
  .arrow{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
 /* /Arrow */

 /* About section */
 .about-section{
   padding: 5rem 0 0 0;
   height: auto;
   background-color: #fff;
 }

 .about-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px !important;
}

.about-section p{
  font-size: 16px;
  color: #000000;
}

@media (min-width: 992px) {
  .about-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .about-section p{
    font-size: 20px;
    color: #000000;
  }
}

/* Studio */
.studio-section{
  padding: 5rem 0 0 0;
  height: auto;
  background-color:  #fff;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.studio-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px !important;
}

.studio-section h2{
  font-family: "robotoBold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
 }

 .studio-section p{
  font-size: 16px;
  color: #000000;
 }

 .studio-section .col-sm-6{
  background: #d4d4d4;
  margin-bottom: 60px;
 }

 .carousel-item p{
  color: #ffffff;
  text-shadow: 1px 2px 2px black;
 }

 @media (min-width: 576px) {
  .studio-section {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .studio-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .studio-section h2{
    font-size: 20px;
    }
  .studio-section p{
    font-size: 20px;
  }
}

/* Equipment */
.equipment-section{
  padding: 5rem 0 0 0;
  height: auto;
  background-color: #fff;
}

.equipment-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px !important;
}

.equipment-section h2{
  font-family: "robotoBold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
 }

 .equipment-section li{
  font-size: 16px;
  color: #000000;
  text-align: left;
 }

 @media (min-width: 992px) {
  .equipment-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .equipment-section h2{
    font-size: 20px;
    }
  .equipment-section p{
    font-size: 20px;
  }
  .equipment-section li{
    font-size: 20px;
  }
}

 /* Services */
.services-section{
  padding: 5rem 0 0 0;
  height: auto;
  background-color: #fff;
}

.services-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px !important;
}

.services-section i{
  color: #000000;
  text-align: center;
 }

.services-section p{
  background: #d4d4d4;
}

.services-section #mezcla{
  transform: rotate(90deg);
}

.services-section h2{
  font-family: "robotoBold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 0px 0 0px 0;
  padding-bottom: 1rem;
 }
 
 .services-section p{
  padding-left: 35px;
  font-size: 16px;
  color: #000000;
 }

 @media (min-width: 576px) {
  .services-section p{
    padding-left: 5px;
    font-size: 16px;
    color: #000000;
   }
}

@media (min-width: 992px) {
  .services-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .services-section h2{
    font-size: 20px;
    }
  .services-section p{
    font-size: 20px;
  }
}

 /* Works */
.works-section{
  padding: 5rem 0 0 0;
  height: auto;
  background-color: #fff;
}

.works-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px !important;
}

.works-section i{
  color: #000000;
  text-align: center;
 }

.works-section #mezcla{
  transform: rotate(90deg);
}

.works-section h2{
  font-family: "robotoBold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 25px 0 10px 0;
 }
 
 .works-section p{
  padding-top: 1rem;
  font-size: 16px;
  color: #000000;
 }
 
 .works-section .flex-column { 
  max-width : 324px;
   } 

  .works-section #gallery { 
      background: #d4d4d4; 
  } 

  .works-section img { 
      margin: 5px; 
      align-content: center;
  } 

  .works-section .scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.works-section .img-holder {
  position: relative;
}

.works-section button{
  border: 0px;
  background-color: transparent;
}
.works-section i{
  text-align: center;
  background: transparent;
  opacity: 0.4;
  position: absolute;
  width: 100px;
  height: 70px;
  top: 0;
  left: 10px;
  bottom: 0;
  right: 0;
  margin: auto;
}

.works-section i:hover {
  color: #fff;
  opacity: 0.5;
}

.works-section button:focus{
  outline:0;
}

@media (min-width: 992px) {
  .works-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .works-section h2{
    font-size: 20px;
    }
  .works-section p{
    font-size: 20px;
  }
}

/* Contact */
.contact-section{
  padding: 5rem 0 0 0;
  height: auto;
  background-color: #fff;
}

.contact-section iframe{
  max-width: 100%;
  height: 450px;
}

.contact-section h1{
  font-family: "robotoBold";
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.01em;

  color: #000000;
  line-height: 10rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: -50px;
}

.contact-section h2{
  font-family: "robotoBold";
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
 }

 .contact-section p, .contact-section a{
  font-family: "roboto";
  font-size: 16px;
  color: #000000;
 }

.contact-section #sendMessageButton{
  background-color: #4d4d4d;
  font-family: "roboto";
  font-size: 16px;
  color: #fff;
  padding: 0px 10px 0px 10px;
  outline:0;
  border: none;
}

.contact-section #sendMessageButton:hover{
  background-color: #4d4d4d;
  color: #fff;
}

.contact-section .col-sm-8{
  background: #d4d4d4;
}

.contact-section .col-sm-4{
margin-bottom: 1.3rem;
}

@media (min-width: 992px) {
  .contact-section h1{
    font-size: 200px !important;
    margin-top: 30px !important;
  }
  .contact-section h2{
    font-size: 20px;
    }
  .contact-section p{
    font-size: 20px;
  }
}

/* Footer */
footer{
  background-color: #ffffff !important;
  margin-bottom: 3px;
}

.up a {
  font-size: 21px;
  text-align: center;
  width: 45px;
  background: #d4d4d4;
  color: #000000;
  line-height: 3rem;
  color:#000000;
  margin-top: 65px;
  margin-bottom: 0px;
  position: relative;
  bottom: 50px !important;
}

.up a:hover {
  color: #fff;
  background: #4d4d4d;
}

.up a:active {
  color:#fff;
}
